.container {
	max-width: 960px;
}

.site-header {
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
	color: #999;
	transition: ease-in-out color .15s;
}

.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

.bgimg1 {
	background-image: url("HomePicture.jpg");
	position: relative;
	overflow: hidden;
	padding: 2rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg1::before {
	background-image: url("HomePicture.jpg");
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg2 {
	background-image: url("HomePicture2.jpg");
	height: 400px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin-right: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg2::before {
	background-image: url("HomePicture2.jpg");
	height: 400px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin-right: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg3 {
	background-image: url("HomePicture4.jpg");
	height: 400px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin-right: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg3::before {
	background-image: url("HomePicture4.jpg");
	height: 400px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin-right: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg4 {
	background-image: url("ContactPicture.jpg");
	height: 500px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin-right: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg5 {
	background-image: url("ContactPicture2.jpg");
	height: 400px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin-right: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg6 {
	background-image: url("VerleihPicture.jpg");
	height: 500px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg7 {
	background-image: url("Herrenrad.jpg");
	height: 500px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-style: solid;
	border-width: 1px;
}

.bgimg8 {
	background-image: url("Damenrad.jpg");
	height: 500px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-style: solid;
	border-width: 1px;
}

.bgimg9 {
	background-image: url("Kinderrad.jpg");
	height: 500px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-style: solid;
	border-width: 1px;
}

.bgimg10 {
	background-image: url("EBike.jpg");
	height: 500px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-style: solid;
	border-width: 1px;
}

.bgimg11 {
	background-image: url("Mountainbike.png");
	height: 500px;
	background-position: 50% 50%;
	overflow: hidden;
	padding: 3rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-style: solid;
	border-width: 1px;
}

.bgimg12 {
	background-image: url("BestandPicture.jpg");
	position: relative;
	overflow: hidden;
	padding: 2rem;
	margin: 1rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bigDiv {
	background-color: white;
	height: 550px;
	position: relative;
	overflow: hidden;
	padding: 3rem;
	padding-top: 1rem !important;
	margin: 0rem;
	text-align: center;
	width: 100%;
}

.bg-lightGrey {
	background-color: #f3f3f3;
}

.font-bold {
	font-weight: 500;
	font-size: 1.25rem;
}

.fontShadow {
	color: white !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.largeMargin {
	margin-bottom: 1rem !important;
	margin-top: 2rem !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.largeMargin2 {
	margin-bottom: 1rem !important;
	margin-top: 0rem !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.topMargin {
	margin-top: 0.5rem !important;
}

.topMargin2 {
	margin-top: 1rem !important;
}

.topPadding {
	padding-top: 0rem !important;
}

.height600px {
	height: 600px;
}

.height500px {
	height: 500px;
}

.textDiv {
	position: relative;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
}

.textDiv2 {
	position: relative;
	padding: 1rem;
	padding-bottom: 0rem !important;
	margin: 1rem;
	text-align: center;
}

.textDiv3 {
	position: relative;
	padding: 0rem;
	margin: 1rem;
	text-align: center;
	width: 50%;
}

.textDiv4 {
	position: relative;
	padding: 0rem;
	margin: 1rem;
	margin-bottom: 0rem !important;
	text-align: center;
}

.fontWhite {
	color: white !important;
}

#Bestandstabelle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#Bestandstabelle td, #Bestandstabelle th {
	border: 1px solid #ddd;
	padding: 8px;
}

#Bestandstabelle tr:nth-child(even) {
	background-color: #f2f2f2;
}

#Bestandstabelle tr:hover {
	background-color: #ddd;
}

#Bestandstabelle th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #F7BE81;
	color: white;
}

ul#verlieheneRaeder {
	width: 100%;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-top: 10px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	background-color: #f2f2f2;
}

ul#verlieheneRaeder li {
	border-bottom: 1px solid #a9a9a9;
	padding: 10px;
	background-color: #f2f2f2;
}

ul#verlieheneRaeder li:last-child {
	border-bottom: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

ul#verlieheneRaeder li:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

@import
	url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css)
	;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800)
	;

@import url(https://fonts.googleapis.com/css?family=Montserrat:800);

.snip1214 {
	font-family: 'Raleway', Arial, sans-serif;
	color: #000000;
	text-align: center;
	font-size: 16px;
	width: 100%;
	margin: 40px 10px;
}

.snip1214 .plan {
	margin: 0;
	width: 33.33%;
	position: relative;
	float: left;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.snip1214 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.snip1214 header {
	position: relative;
}

.snip1214 .plan-title {
	position: relative;
	top: 0;
	font-weight: 800;
	padding: 5px 15px;
	margin: 0 auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0;
	display: inline-block;
	background-color: #222f3d;
	color: #ffffff;
	text-transform: uppercase;
}

.snip1214 .plan-cost {
	padding: 0px 10px 20px;
}

.snip1214 .plan-price {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 800;
	font-size: 2.4em;
	color: #34495e;
}

.snip1214 .plan-type {
	opacity: 0.6;
}

.snip1214 .plan-features {
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: outside none none;
	font-size: 0.8em;
}

.snip1214 .plan-features li {
	border-top: 1px solid #d2d7e2;
	padding: 10px 5%;
}

.snip1214 .plan-features li:nth-child(even) {
	background: rgba(0, 0, 0, 0.08);
}

.snip1214 .plan-features i {
	margin-right: 8px;
	opacity: 0.4;
}

.snip1214 .plan-select {
	border-top: 1px solid #d2d7e2;
	padding: 10px 10px 0;
}

.snip1214 .plan-select a {
	background-color: #222f3d;
	color: #ffffff;
	text-decoration: none;
	padding: 0.5em 1em;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
}

.snip1214 .plan-select a:hover {
	background-color: #46627f;
}

.snip1214 .featured {
	margin-top: -10px;
	background-color: #34495e;
	color: #ffffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.snip1214 .featured .plan-title, .snip1214 .featured .plan-price {
	color: #ffffff;
}

.snip1214 .featured .plan-cost {
	padding: 10px 10px 20px;
}

.snip1214 .featured .plan-features li {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.snip1214 .featured .plan-select {
	padding: 20px 10px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 767px) {
	.snip1214 .plan {
		width: 50%;
	}
	.snip1214 .plan-title, .snip1214 .plan-select a {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.snip1214 .plan-cost, .snip1214 .featured .plan-cost {
		padding: 20px 10px 20px;
	}
	.snip1214 .plan-select, .snip1214 .featured .plan-select {
		padding: 10px 10px 10px;
	}
	.snip1214 .featured {
		margin-top: 0;
	}
}

@media only screen and (max-width: 440px) {
	.snip1214 .plan {
		width: 100%;
	}
}

.margin-header {
	margin-bottom: 5rem;
}

/*
 * Extra utilities
 */
.flex-equal>* {
	-ms-flex: 1;
	flex: 1;
}

@media ( min-width : 768px) {
	.flex-md-equal>* {
		-ms-flex: 1;
		flex: 1;
	}
}

.overflow-hidden {
	overflow: hidden;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5px auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

/* Close button on hover */
.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@
-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}
}